@model DrugStore.ViewModels.RegisterVM

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ( Html.BeginForm( "Register" , "Home" , FormMethod.Post , new { autocomplete = "off" } ) )
{
    @Html.AntiForgeryToken( )
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">&nbsp;</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    @Html.ValidationSummary( false , "" , new { @class = "text-danger" } )
                </div>
            </div>
            <div class="row row-striped">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    @Html.LabelFor( a => a.FirstName , new { @class = "control-label" } )
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="input-group">
                        <span class="input-group-addon"><i style="color: #3b5997" class="fa fa-info-circle"></i></span>
                        @Html.TextBoxFor( a => a.FirstName , new { @class = "form-control" , maxlength = "25" } )
                    </div>
                    @Html.ValidationMessageFor( a => a.FirstName , null , new { @class = "control-label text-danger" } )
                </div>
            </div>

            <div class="row row-striped">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    @Html.LabelFor( a => a.MiddleName , new { @class = "control-label" } )
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="input-group">
                        <span class="input-group-addon"><i style="color: #3b5997" class="fa fa-info-circle"></i></span>
                        @Html.TextBoxFor( a => a.MiddleName , new { @class = "form-control" , maxlength = "25" } )
                    </div>
                    @Html.ValidationMessageFor( a => a.MiddleName , null , new { @class = "control-label text-danger" } )
                </div>
            </div>

            <div class="row row-striped">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    @Html.LabelFor( a => a.LastName , new { @class = "control-label" } )
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="input-group">
                        <span class="input-group-addon"><i style="color: #3b5997" class="fa fa-info-circle"></i></span>
                        @Html.TextBoxFor( a => a.LastName , new { @class = "form-control" , maxlength = "25" } )
                    </div>
                    @Html.ValidationMessageFor( a => a.LastName , null , new { @class = "control-label text-danger" } )
                </div>
            </div>

            <div class="row row-striped">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    @Html.LabelFor( a => a.Email , new { @class = "control-label" } )
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="input-group">
                        <span class="input-group-addon"><i style="color: #3b5997" class="fa fa-envelope"></i></span>
                        @Html.TextBoxFor( a => a.Email ,
                                 new { @class = "form-control" , maxlength = "100" , placeholder = "user@company.com" } )
                    </div>
                    @Html.ValidationMessageFor( a => a.Email , null , new { @class = "control-label text-danger" } )
                </div>
            </div>

            <div class="row row-striped">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    @Html.LabelFor( a => a.Phone , new { @class = "control-label" } )
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="input-group">
                        <span class="input-group-addon"><i style="color: #3b5997" class="fa fa-phone"></i></span>
                        @Html.TextBoxFor( a => a.Phone ,
                                 new { @class = "form-control" , id = "txtPhone" , maxlength = "25" } )
                    </div>
                    @Html.ValidationMessageFor( a => a.Phone , null , new { @class = "control-label text-danger" } )
                </div>
            </div>

            <div class="row row-striped">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    @Html.LabelFor( a => a.UserName , "User Name" , new { @class = "control-label" } )
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="input-group">
                        <span class="input-group-addon"><i style="color: #3b5997" class="fa fa-wrench"></i></span>
                        @Html.TextBoxFor( a => a.UserName , new { @class = "form-control" } )
                    </div>
                    @Html.ValidationMessageFor( a => a.UserName , null , new { @class = "control-label text-danger" } )
                </div>
            </div>

            <div class="row row-striped">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    @Html.LabelFor( a => a.Password , new { @class = "control-label" } )
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="input-group">
                        <span class="input-group-addon"><i style="color: #3b5997" class="fa fa-lock"></i></span>
                        @Html.TextBoxFor( a => a.Password ,
                             new
                             {
                                 @class = "form-control" ,
                                 style = "display: inline-block" ,
                                 id = "txtPassword" ,
                                 type = "password" ,
                                 name = "password"
                             } )
                        <span style="color: #3b5997; display: inline-block; z-index: 999" class="fa fa-eye glyph"></span>
                    </div>
                    @Html.ValidationMessageFor( a => a.Password , null , new { @class = "text-danger" , id = "ErrPassword" } )
                </div>
            </div>

            <div class="row row-striped">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    @Html.LabelFor( a => a.ConfirmPassword , "Confirm Password" , new { @class = "control-label" } )
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="input-group">
                        <span class="input-group-addon"><i style="color: #3b5997" class="fa fa-lock"></i></span>
                        @Html.TextBoxFor( a => a.ConfirmPassword ,
                             new { @class = "form-control" , id = "txtConfirmPassword" , type = "password" , name = "password" } )
                    </div>
                    @Html.ValidationMessageFor( a => a.ConfirmPassword , null , new { @class = "text-danger" , id = "ErrConfirmPassword" } )
                </div>
            </div>

            <div class="row row-striped">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <input type="button" value="Reset" class="btn btn-danger btn-unified" id="btnReset" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <input type="submit" value="Register" class="btn btn-default btn-unified" />
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[value='Register']").attr("disabled", "disabled");

        registerObj.validatePhone("txtPhone");
        registerObj.validatePassword();
        registerObj.togglePassword();
        registerObj.validatePage();
        registerObj.reset();
    });
</script>
